Repository BeeeQueue/scorekeep, pull requests merged in 2019-11, with the labels that each got.

#5 Finish Google Login
  packages/server/src/modules/google/google.lib.ts
  packages/server/src/modules/google/google.routes.ts
  packages/server/src/modules/session/session.lib.ts
  packages/server/src/modules/session/session.model.ts
  packages/server/src/modules/user/user.model.ts
Labels: enhancement

#8 Validate BG Schemas and Match Results
  packages/server/README.md
  packages/server/package.json
  packages/server/src/apollo.ts
  packages/server/src/assets/json-schema-07.json
  packages/server/src/modules/boardgame/boardgame.model.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/server/src/modules/match/match.resolvers.ts
  packages/server/src/types/json-schema.ts
  packages/server/src/utils/validations.test.ts
  packages/server/src/utils/validations.ts
  yarn.lock
Labels: server

#11 GraphQL configuration for UI
  .gitignore
  packages/server/package.json
  packages/server/src/apollo.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/ui/.graphqlconfig
  packages/ui/codegen.yml
  packages/ui/jest.config.js
  packages/ui/package.json
  packages/ui/public/index.html
  packages/ui/src/apollo.ts
  packages/ui/src/app.tsx
  packages/ui/src/graphql/add-boardgame.graphql
  packages/ui/src/graphql/generated.ts
  packages/ui/src/graphql/introspection-result.ts
  packages/ui/src/pages/boardgame/add.test.tsx
  packages/ui/src/pages/boardgame/add.tsx
  packages/ui/src/pages/boardgame/rc-slider-styles.ts
  packages/ui/src/pages/landing/landing.test.tsx
  packages/ui/src/pages/landing/landing.tsx
  packages/ui/src/shims.d.ts
  packages/ui/webpack.config.js
  yarn.lock
Labels: ui

#12 Add Connections, Start Testing Backend
  .circleci/config.yml
  .eslintrc.js
  jest.setup.ts
  package.json
  packages/server/.eslintrc.js
  packages/server/migrations/1562684250168-create-tables.ts
  packages/server/migrations/1573325133012-create-test-schema.ts
  packages/server/ormconfig.ts
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/constants/auth.constants.ts
  packages/server/src/modules/connection/connection.model.ts
  packages/server/src/modules/google/google.auth.test.ts
  packages/server/src/modules/google/google.lib.ts
  packages/server/src/modules/google/google.routes.ts
  packages/server/src/modules/session/session.lib.ts
  packages/server/src/modules/session/session.model.ts
  packages/server/src/modules/user/user.model.ts
  packages/server/src/modules/user/user.resolvers.ts
  packages/server/src/router.ts
  yarn.lock
Labels: server

#15 Add Schema Snapshots & Breaking Changes CI Step
  .circleci/config.yml
  packages/server/src/graphql/index.ts
  packages/server/src/graphql/schema.graphql
  packages/server/src/graphql/snapshot.graphql
  packages/server/src/graphql/snapshot.test.ts
  packages/server/src/index.ts
  packages/ui/.graphqlconfig
  packages/ui/codegen.yml
Labels: server

#14 Misc. Backend Improvements
  .circleci/config.yml
  .nvmrc
  jest.config.js
  package.json
  packages/server/.prettierignore
  packages/server/package.json
  packages/server/src/apollo.ts
  packages/server/src/modules/boardgame/boardgame.model.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/server/src/modules/club/club.model.ts
  packages/server/src/modules/club/club.resolvers.ts
  packages/server/src/modules/connection/connection.model.ts
  packages/server/src/modules/exented-entity.ts
  packages/server/src/modules/google/google.auth.test.ts
  packages/server/src/modules/match/match.model.ts
  packages/server/src/modules/match/match.resolvers.ts
  packages/server/src/modules/session/session.model.ts
  packages/server/src/modules/user/user.model.ts
  packages/server/src/modules/user/user.resolvers.ts
  packages/server/src/utils/index.ts
  packages/ui/package.json
  yarn.lock
Labels: server
