Repository BeeeQueue/scorekeep, pull requests merged in 2020-01, with the labels that each got.

#28 Add UnclaimedUser, Add Friendship [ch26]
  .circleci/config.yml
  .graphqlconfig
  package.json
  packages/server/index.d.ts
  packages/server/package.json
  packages/server/src/graphql/auth.ts
  packages/server/src/graphql/index.ts
  packages/server/src/graphql/snapshot.graphql
  packages/server/src/modules/club/club.model.ts
  packages/server/src/modules/connection/connection.model.ts
  packages/server/src/modules/connection/connection.test.ts
  packages/server/src/modules/exented-entity.ts
  packages/server/src/modules/friendship/friendship.model.ts
  packages/server/src/modules/friendship/friendship.resolvers.ts
  packages/server/src/modules/friendship/friendship.test.ts
  packages/server/src/modules/user/unclaimed-user.model.ts
  packages/server/src/modules/user/user-base.model.ts
  packages/server/src/modules/user/user.model.ts
  packages/server/src/modules/user/user.resolvers.ts
  packages/server/src/modules/user/user.test.ts
  packages/server/src/modules/user/user.types.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/tests.ts
  packages/ui/.graphqlconfig
  packages/ui/package.json
  yarn.lock
Labels: server

#32 Update Deps, ESLint config
  .eslintrc.js
  jest.config.js
  package.json
  packages/constants/package.json
  packages/server/package.json
  packages/server/src/config.ts
  packages/server/src/index.ts
  packages/server/src/modules/club/club.resolvers.ts
  packages/server/src/modules/exented-entity.ts
  packages/server/src/modules/match/match.resolvers.ts
  packages/server/src/modules/session/session.lib.ts
  packages/server/src/types/json-schema.ts
  packages/server/src/utils/index.ts
  packages/ui/babel.config.js
  packages/ui/package.json
  packages/ui/src/apollo.ts
  packages/ui/src/components/input.tsx
  packages/ui/src/providers/user.tsx
  packages/ui/src/utils.ts
  packages/ui/src/utils/game-schema-types.ts
  yarn.lock
Labels: dependency

#33 Result Schema Update
  jest.config.js
  packages/server/src/graphql/snapshot.graphql
  packages/server/src/modules/boardgame/boardgame.model.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/server/src/modules/boardgame/boardgame.schema.ts
  packages/server/src/modules/boardgame/boardgame.test.ts
  packages/server/src/modules/connection/connection.model.ts
  packages/server/src/modules/exented-entity.ts
  packages/server/src/modules/friendship/friendship.model.ts
  packages/server/src/modules/match/match.model.ts
  packages/server/src/modules/match/match.resolvers.ts
  packages/server/src/modules/match/match.test.ts
  packages/server/src/modules/user/user.model.ts
  packages/server/src/types/json-schema.ts
  packages/server/src/utils/functional.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/test-data.ts
  packages/server/src/utils/validations.test.ts
  packages/ui/codegen.yml
  packages/ui/package.json
  packages/ui/src/graphql/add-boardgame.graphql
  packages/ui/src/graphql/generated.ts
  packages/ui/src/graphql/introspection-result.ts
  packages/ui/src/pages/boardgame/add.tsx
  packages/ui/src/pages/match/add-match.graphql
  packages/ui/src/pages/match/add.tsx
  yarn.lock
Labels: server

#29 Boardgame list
  packages/ui/package.json
  packages/ui/src/components/animated-list/index.tsx
  packages/ui/src/components/boardgame-list-item/bordgame-list-item.stories.tsx
  packages/ui/src/components/boardgame-list-item/index.tsx
  yarn.lock
Labels: ui

#27 DB Seeds
  packages/server/package.json
  packages/server/seeders/main.ts
  packages/server/src/config.ts
  packages/server/src/graphql/snapshot.graphql
  packages/server/src/modules/boardgame/boardgame.model.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/server/src/modules/boardgame/boardgame.test.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/test-data.ts
  packages/server/src/utils/tests.ts
  packages/server/tsconfig.json
Labels: server

#34 Add Boardgame Search, Improve Error Responses
  packages/server/package.json
  packages/server/seeders/main.ts
  packages/server/src/apollo.ts
  packages/server/src/graphql/snapshot.graphql
  packages/server/src/modules/boardgame/boardgame.model.ts
  packages/server/src/modules/boardgame/boardgame.resolvers.ts
  packages/server/src/modules/boardgame/boardgame.test.ts
  packages/server/src/modules/pagination.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/test-data.ts
  yarn.lock
Labels: server

#35 Boardgame Items: Increase Size
  package.json
  packages/ui/.storybook/addons.js
  packages/ui/.storybook/main.js
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/webpack.config.js
  packages/ui/package.json
  packages/ui/src/components/boardgame-list-item/bordgame-list-item.stories.tsx
  packages/ui/src/components/boardgame-list-item/index.tsx
  packages/ui/src/components/card.stories.tsx
  packages/ui/src/components/card.tsx
  yarn.lock
Labels: ui
